*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

h1 {
  text-align: center;
}

input {
  padding: 0.5em;
}

ul {
  padding: 0;
  list-style: none;
}

label {
  display: inline-block;
}

.container {
  padding: 0 2em;
  margin: 0 auto;
  max-width: 800px;
}

.todo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2em;
  animation: fade-in 0.3s ease-in;
}

.add-todo-form > * + * {
  margin-top: 1em;
}

.add-todo-input {
  width: 100%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.todo-checkbox-container {
  display: flex;
  align-items: center;
}

.todo-checkbox-container > * + * {
  margin-left: 3px;
}

.done {
  text-decoration: line-through;
}

.todo-button-container > * + * {
  margin-left: 5px;
}
